*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv
*.tex
*.pdf
*.pdf_tex
*.pdf_tex.svg
logs.txt

Python/scenari2amc
Python/src
Python/virtual_environment
faq2sciences/
biblio.md
infos.md
notes.md

